<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>查询到的数据： </h2>
    <ul>
        <% for(var i = 0;i<list.length;i++) {%>
            <li>
                <p>姓名：<%= list[i].name %></p>
                <p>年龄：<%= list[i].age %></p>
            </li>
        <%}%>    
    </ul>
</body>
</html>