<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= userinfo%>
    <ul>
        <% for(let i = 0;i<arr.length;i++){%>
        <li><%= arr[i]%></li>
        <%}%>
    </ul>
    <%- h2%>

    <!-- if 语句-->
    <%if(num > 24){%>

        大于24

    <%}else{%>
        小于24

    <%}%>
</body>
</html>