





.borderTable{border:1px solid #cccccc;border-left:0;border-bottom:0;width:100%;}
.borderTable td,.borderTable th{border:1px solid #cccccc;border-top:0;border-right:0;text-align:center;}

a{
    display:inline-block;
    text-decoration:none;
    color:white;
    padding:3px 10px;
    background:rgb(74, 209, 126);
    margin:3px;
    border-radius:5px;
}
a:hover{
    background:rgb(9, 172, 72);
}


a.add{
    display:block;
    box-sizing: border-box;
    width:100%;
    padding:10px;
    text-align: center;
    margin-top:50px;
}






