<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>尊享服务</title>
<link rel="stylesheet" type="text/css" href="index/css/reset.css" />
<link rel="stylesheet" type="text/css" href="index/css/common.css" />
<link rel="stylesheet" type="text/css" href="index/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="index/css/service.css"/>
</head>

<body>

		{{include 'index/public/header.html'}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    <h2>尊享服务&#160; <span>IT营将为您提供以下服务致力为您提供优质产品，同时也是市场竞争必胜的保证!
互联网+</span></h2>
    
    </div>

</div>

<div id="header_title-wrapper">

    <div class="header_title clear">
        <p >
        <a href="#">服务优势</a>
        <a href="#">服务范畴</a>
        </p>
    </div>


</div>

<div id="main-wrapper">

    <div class="main">    
    
    		<ul class="clear">
				{{each result}}
				<li class="service">
					<img src="{{$value.pic}}"/>
					<a href="#">
						<h3>{{$value.title}}</h3>
					</a>
				</li>
				{{/each}}
                                
			</ul>
    
    </div>
    



</div>




<div id="footer-wrapper">
            <div class="footer-inner">
                <p>
                    <a href="#">网站首页</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">产品展示</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">客户案例</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">解决方案</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>Copyright © 2002-2015上海机械设备服务有限公司 版权所有 Power by DedeCms</p>
                <p>电话：15918779820 E-mail：89898981@qq.com 地址：上海市沙河广园东路1858新天地服装城</p>
            </div>
</div>


</body>
</html>
