<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>使用 angular 语法</h2>

    <div>{{list}}</div>
    {{@ h}}

    <div>
        if语句<br/>
        {{if(false)}}

            <h2>true</h2>
        
            {{else}}

            <h2>false</h2>

                {{/if}}
    </div>
    <div>
        循环语句<br/>

        {{each item}}

            <div>{{$index}} -- {{$value}}</div>

        {{/each}}
    </div>

    {{include 'public/footer.html'}}
</body>
</html>