<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    login 这是一个login  ejs模版

    <!-- 给模版绑定数据 -->
    <h3> <%= msg %></h3>
</body>
</html>