<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/doEdit" method="post">
        姓名：<input type="text" name="username" value="{{result[0].username}}"> <br/>
        年龄：<input type="text" name="age" value="{{result[0].age}}"> <br/> 
        性别：<input type="text" name="sex" value="{{result[0].sex}}"> <br/> 
        status:<input type="text" name="status" value="{{result[0].status}}"> <br/> 
        <input type="hidden" name="id" value="{{@result[0]._id}}">
        <input type="submit" value="提交">
    </form>
</body>
</html>