
<%- include ../public/header.ejs%>

<div class="container-fluid">
    <div class="row">
        
        <%- include ../public/aslideleft.ejs%>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">用户管理
                </li>
                <li class="active">修改用户
                </li>
            </ol>
            <div class="panel panel-default">
              
			    <div class="panel-heading">
                  修改用户
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/user/doEdit" method="post" enctype="multipart/form-data">
                            <ul>
                                <input type="hidden" name="_id" value="<%= list._id%>">
                                <li>  用户名称: <input type="text" name="username" value="<%= list.username%>"/></li>
                                <li>  用户密码: <input type="password" name="password" value=""/></li>
                                

                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

</body>
</html>